<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDiOo7NhmmY25WRxABHpxBautRNz9ZCH4</string>
	<key>GCM_SENDER_ID</key>
	<string>939759278329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourname.campusReminder</string>
	<key>PROJECT_ID</key>
	<string>campus-reminder-76b1c</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-reminder-76b1c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939759278329:ios:bb2b596f66ce141765ea28</string>
</dict>
</plist>